.App {
  display: flex;
  justify-content: center;
  background-color: rgb(217, 217, 217);
  height: 100vh;
}

/* Login.js */

.LoginTab {
  display: flex;
  flex-direction: column;
  padding: 100px;
  margin: 100px;
  justify-content: center;
  border-radius: 25px;
  align-items: center;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.CenteredInputField {
  padding: 10px;
  margin-top: 5px;
  border-radius: 10px;
  resize: none;
}

.LoginButton {
  padding: 10px;
  width: 188px;
  border-radius: 10px;
  margin-top: 10px;
  background-color: #dd33d0;
  background-image: linear-gradient(
    157deg,
    #dd33d0 29%,
    #9100db 98%,
    #4158d0 100%
  );

  color: white;
}

.LoginButton:hover {
  transform: scale(1.03);
  background-color: #f1fb7e;
  background-image: linear-gradient(
    315deg,
    #f1fb7e 0%,
    #ffaf00 24%,
    #fff200 100%
  );
}

/* Singup.js */

.SignUpButton {
  padding: 10px;
  width: 188px;
  border-radius: 10px;
  margin-top: 10px;
  background-color: #dd33d0;
  background-image: linear-gradient(
    157deg,
    #dd33d0 29%,
    #9100db 98%,
    #4158d0 100%
  );

  color: white;
}

.SignUpButton:hover {
  transform: scale(1.03);
  background-color: #f1fb7e;
  background-image: linear-gradient(
    315deg,
    #f1fb7e 0%,
    #ffaf00 24%,
    #fff200 100%
  );
}
.signup-text {
  color: rgb(158, 158, 158);
}

/* adminhomepage.js */

.adminHome {
  display: flex;
  flex-direction: column;
  padding: 100px;
  margin: 100px;
  justify-content: center;
  border-radius: 25px;
  align-items: center;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.AboutButton {
  padding: 10px;
  width: 188px;
  border-radius: 10px;
  margin-top: 10px;
  background-color: #dd33d0;
  background-image: linear-gradient(
    157deg,
    #dd33d0 29%,
    #9100db 98%,
    #4158d0 100%
  );

  color: white;
}

.AboutButton:hover {
  transform: scale(1.03);
  background-color: #f1fb7e;
  background-image: linear-gradient(
    315deg,
    #f1fb7e 0%,
    #ffaf00 24%,
    #fff200 100%
  );
}

.TopicsButton {
  padding: 10px;
  width: 188px;
  border-radius: 10px;
  margin-top: 10px;
  background-color: #dd33d0;
  background-image: linear-gradient(
    157deg,
    #dd33d0 29%,
    #9100db 98%,
    #4158d0 100%
  );

  color: white;
}

.TopicsButton:hover {
  transform: scale(1.03);
  background-color: #f1fb7e;
  background-image: linear-gradient(
    315deg,
    #f1fb7e 0%,
    #ffaf00 24%,
    #fff200 100%
  );
}

.LogoutButton {
  padding: 10px;
  width: 188px;
  border-radius: 10px;
  margin-top: 10px;
  background-color: #dd33d0;
  background-image: linear-gradient(
    157deg,
    #dd33d0 29%,
    #9100db 98%,
    #4158d0 100%
  );

  color: white;
}

.LogoutButton:hover {
  transform: scale(1.03);
  background-color: #f1fb7e;
  background-image: linear-gradient(
    315deg,
    #f1fb7e 0%,
    #ffaf00 24%,
    #fff200 100%
  );
}

/* faculty_homepage.js */

.facultyHome {
  display: flex;
  flex-direction: column;
  padding: 100px;
  margin: 100px;
  justify-content: center;
  border-radius: 25px;
  align-items: center;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.FacultyViewTopicsButton {
  padding: 10px;
  width: 188px;
  border-radius: 10px;
  margin-top: 10px;
  background-color: #dd33d0;
  background-image: linear-gradient(
    157deg,
    #dd33d0 29%,
    #9100db 98%,
    #4158d0 100%
  );

  color: white;
}

.FacultyViewTopicsButton:hover {
  transform: scale(1.03);
  background-color: #f1fb7e;
  background-image: linear-gradient(
    315deg,
    #f1fb7e 0%,
    #ffaf00 24%,
    #fff200 100%
  );
}

/* student_homepage.js */

.studentHome {
  display: flex;
  flex-direction: column;
  padding: 100px;
  margin: 100px;
  justify-content: center;
  border-radius: 25px;
  align-items: center;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.StudentViewTopicsButton {
  padding: 10px;
  width: 188px;
  border-radius: 10px;
  margin-top: 10px;
  background-color: #dd33d0;
  background-image: linear-gradient(
    157deg,
    #dd33d0 29%,
    #9100db 98%,
    #4158d0 100%
  );

  color: white;
}

.StudentViewTopicsButton:hover {
  transform: scale(1.03);
  background-color: #f1fb7e;
  background-image: linear-gradient(
    315deg,
    #f1fb7e 0%,
    #ffaf00 24%,
    #fff200 100%
  );
}

/* about_us.js */

.Aboutus {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  margin: 50px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

h2 {
  margin-bottom: 20px;
  font-size: 2em;
  color: #333;
}

.team-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  overflow-y: auto;
  width: 100%;
  padding: 102px;
}

.team-member {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  padding: 15px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.team-member img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
}

.team-member h3 {
  font-size: 1.2em;
  color: #333;
  margin-bottom: 5px;
}

.team-member p {
  font-size: 0.9em;
  color: #777;
  margin-bottom: 5px;
}

.button_container {
  flex-direction: row;
}

.GobackButton {
  padding: 10px;

  width: 188px;
  border-radius: 10px;
  margin-top: 10px;
  background-color: #dd33d0;
  background-image: linear-gradient(
    157deg,
    #dd33d0 29%,
    #9100db 98%,
    #4158d0 100%
  );

  color: white;
}

.GobackButton:hover {
  transform: scale(1.03);
  background-color: #f1fb7e;
  background-image: linear-gradient(
    315deg,
    #f1fb7e 0%,
    #ffaf00 24%,
    #fff200 100%
  );
}

.HomeButton {
  padding: 10px;
  width: 188px;
  border-radius: 10px;
  margin-top: 10px;
  background-color: #dd33d0;
  background-image: linear-gradient(
    157deg,
    #dd33d0 29%,
    #9100db 98%,
    #4158d0 100%
  );

  color: white;
}

.HomeButton:hover {
  transform: scale(1.03);
  background-color: #f1fb7e;
  background-image: linear-gradient(
    315deg,
    #f1fb7e 0%,
    #ffaf00 24%,
    #fff200 100%
  );
}

/* admin_view.js */
.Adminview {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  margin: 50px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

h2 {
  margin-bottom: 20px;
  font-size: 2em;
  color: #333;
}

.topics-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  max-height: 300px; /* Height limit to enable scrolling */
  overflow-y: auto;
  width: 100%;
  padding-right: 10px;
}

.topic {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 15px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 300px;
}

.topic h3 {
  font-size: 1.2em;
  color: #333;
  margin-bottom: 5px;
}

.button_container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.addtopicButton,
.GobackButton,
.reviewtopicsButton {
  padding: 10px;
  width: 188px;
  border-radius: 10px;
  margin-top: 10px;
  background-color: #dd33d0;
  background-image: linear-gradient(
    157deg,
    #dd33d0 29%,
    #9100db 98%,
    #4158d0 100%
  );
  color: white;
}

.addtopicButton:hover,
.GobackButton:hover,
.reviewtopicsButton:hover {
  transform: scale(1.03);
  background-color: #f1fb7e;
  background-image: linear-gradient(
    315deg,
    #f1fb7e 0%,
    #ffaf00 24%,
    #fff200 100%
  );
}

/* student_view.js */

.studentview {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  margin: 50px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.Facultyview {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin: 50px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

/* add_topic.js */
.AddButton {
  padding: 10px;
  width: 188px;
  border-radius: 10px;
  margin-top: 10px;
  background-color: #dd33d0;
  background-image: linear-gradient(
    157deg,
    #dd33d0 29%,
    #9100db 98%,
    #4158d0 100%
  );

  color: white;
}

.AddButton:hover {
  transform: scale(1.03);
  background-color: #f1fb7e;
  background-image: linear-gradient(
    315deg,
    #f1fb7e 0%,
    #ffaf00 24%,
    #fff200 100%
  );
}

.LoginTab {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  margin: 50px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.form-container {
  display: flex;
  flex-direction: column; /* Ensures that the form inputs are aligned in a column */
  gap: 20px; /* Adds space between the form elements */
  width: 100%; /* Make sure it takes up full width available */
}

.CenteredInputField {
  padding: 10px;
  margin-top: 5px;
  border-radius: 10px;
  resize: none;
  width: 100%; /* Make inputs full width */
}

.GobackButton {
  padding: 10px;
  width: 100%;
  border-radius: 10px;
  margin-top: 10px;
  background-color: #dd33d0;
  background-image: linear-gradient(
    157deg,
    #dd33d0 29%,
    #9100db 98%,
    #4158d0 100%
  );
  color: white;
}

.GobackButton:hover {
  transform: scale(1.03);
  background-color: #f1fb7e;
  background-image: linear-gradient(
    315deg,
    #f1fb7e 0%,
    #ffaf00 24%,
    #fff200 100%
  );
}

.adminEachTopic {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  margin: 50px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);

  overflow-y: auto; /* Enable scrolling for the reviews list */
  width: 50%;
  margin: 0 auto;
}

h2 {
  font-size: 2rem;
  color: #333;
}

h4 {
  font-size: 1.2rem;
  color: #555;
}

.topic-image {
  width: 100%;
  max-width: 400px;
  height: auto;
  margin: 10px 0;
}

textarea {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  resize: vertical;
}

.reviewButton {
  color: white;

  padding: 10px;
  width: 100%;
  border-radius: 10px;
  margin-top: 10px;
  background: rgb(0, 158, 55);
  background: radial-gradient(
    circle,
    rgba(0, 158, 55, 1) 0%,
    rgba(0, 255, 16, 1) 100%
  );
}

.reviewButton:hover {
  transform: scale(1.03);
}

.DeleteButton {
  color: white;

  background: rgb(180, 58, 93);
  background: radial-gradient(
    circle,
    rgba(180, 58, 93, 1) 0%,
    rgba(253, 29, 29, 1) 36%,
    rgba(252, 69, 82, 1) 100%
  );
  padding: 10px;
  width: 100%;
  border-radius: 10px;
  margin-top: 10px;
}

.DeleteButton:hover {
  transform: scale(1.03);
  background-color: darkred;
}

ul {
  list-style-type: none;
  padding-left: 0;
  max-height: 300px;
  overflow-y: auto; /* Enable scrolling for the reviews list */
}

/* review_topic.js */

.reviewTopicButton {
  color: white;

  padding: 10px;
  width: 100%;
  border-radius: 10px;
  margin-top: 10px;
  background: rgb(0, 158, 55);
  background: radial-gradient(
    circle,
    rgba(0, 158, 55, 1) 0%,
    rgba(0, 255, 16, 1) 100%
  );
}

.reviewTopic:hover {
  transform: scale(1.03);
}

.denyTopicButton {
  color: white;

  background: rgb(180, 58, 93);
  background: radial-gradient(
    circle,
    rgba(180, 58, 93, 1) 0%,
    rgba(253, 29, 29, 1) 36%,
    rgba(252, 69, 82, 1) 100%
  );
  padding: 10px;
  width: 100%;
  border-radius: 10px;
  margin-top: 10px;
}

.denyTopicButton:hover {
  transform: scale(1.03);
  background-color: darkred;
}

.adminreview {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  margin: 50px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 50%;
}

.btn_container {
  flex-direction: row;
  gap: 5px;
}
